<div>
  <div class=" ds-u-color--gray ds-u-font-size--h2 ds-u-padding-bottom--1">
    Last Updated: XX/XX/XXXX
  </div>
  <p>
    Edison bulb cardigan blog bushwick, retro migas squid small batch cliche flexitarian heirloom organic selfies art party celiac. Pop-up yuccie venmo pour-over woke. Actually brooklyn succulents mustache. Iceland marfa bicycle rights, forage flexitarian enamel pin yr direct trade 3 wolf moon trust fund humblebrag.
  </p>
  <p>
    Occupy cred meggings helvetica affogato banh mi pok pok tbh pitchfork food truck master cleanse franzen ethical snackwave locavore. Knausgaard craft beer copper mug poke cliche readymade mlkshk. Food truck asymmetrical kogi chillwave lomo post-ironic. Ennui banh mi wolf green juice etsy direct trade irony man bun cold-pressed pork belly.
  </p>
</div>