 <ol>
      <li><a href="https://www.hl7.org/fhir/" target="_blank"> FHIR/HL7 </a></li>
      <li><a href="http://build.fhir.org/ig/HL7/VhDir/bulk-data.html" target="_blank"> Bulk FHIR specification </a></li>
      <li><a href="https://bluebutton.cms.gov/developers/" target="_blank"> Beneficiary FHIR Data Server (BFD)/ Blue Button API </a></li>
      <li><a href="https://bluebutton.cms.gov/assets/ig/index.html" target="_blank"> Beneficiary FHIR Data Server (BFD)/ Blue Button Implementation Guide </a></li>
      <li><a href="https://www.json.org/json-en.html" target="_blank"> Intro to JSON Format </a> and <a href="http://ndjson.org/" target="_blank"> NDJSON.org </a></li>
      <li><a href="https://jsonlint.com/" target="_blank"> JSON format viewer/validator (raw text/JSON format converter) </a></li>
      <li><a href="http://hl7.org/fhir/STU3/validation.html" target="_blank"> Intro to valid FHIR formats </a></li>
 </ol>