<div>
  <p>
    The <a href="/assets/data/BCDA_Data_Dictionary_2021_07_14_r3.xlsx" target="blank" class="in-text__link">CCLF to BCDA Data Dictionary</a> is provided to BCDA users to facilitate their data mapping process.
  </p>
  <p>
    <b> The Data Dictionary was last updated in May 2021. </b>
  </p>
  <p>
    Because BCDA delivers data in the FHIR format, data field names will be different from previous data fields delivered through CCLFs. In this spreadsheet, BCDA has provided a crosswalk between all CCLF data fields and their new locations within BCDA Claims files. The Data Dictionary also provides supplementary context for each of the CCLF/BCDA data fields, including:
  </p>
  <ul>
    <li>Claim Field Names and Descriptions</li>
    <li>Data Type</li>
    <li>Format</li>
    <li>PII/PHI</li>
  </ul>
  <div class="ds-c-alert ds-c-alert--hide-icon">
    <div class="ds-c-alert__body">
      <h2 class="ds-c-alert__heading">Some data fields have not yet been mapped from CCLFs to BCDA.
      </h2>
        <p class="ds-c-alert__text">
          The Beneficiary FHIR Data Server (BFD) API team is working hard to map all of the CCLF fields in the near future. The fields that have not been mapped yet are shaded in grey. Other fields will also not be mapped to BCDA. Additional information for unmapped fields can be found in the notes column of the BCDA Data Dictionary.
        </p>
    </div>
  </div>
</div>
