<div>
  <p>
    BCDA provides <a href="/assets/data/BCDA_Data_Dictionary_2022_01_31.xlsx" target="blank" class="in-text__link">CCLF to BCDA Data Dictionary</a> to customers to facilitate their data mapping process.
  </p>
  <p>
    <strong> The Data Dictionary was last updated in January 2022. </strong>
  </p>
  <p>
    Because BCDA delivers data in the FHIR format, data field names will be different from data fields delivered through CCLF files. In this spreadsheet, BCDA has provided a crosswalk between all CCLF data fields and their new locations within BCDA claims files. The BCDA Data Dictionary also provides supplementary context for each of the CCLF/BCDA data fields, including:
  </p>
  <ul>
    <li>Claim Field Names and Descriptions</li>
    <li>Data Type</li>
    <li>Format</li>
  </ul>
  <div class="ds-c-alert ds-c-alert--hide-icon">
    <div class="ds-c-alert__body">
      <h2 class="ds-c-alert__heading">Some data fields will not be mapped from CCLFs to BCDA in the Data Dictionary.
      </h2>
        <p class="ds-c-alert__text">
          Additional information for unmapped fields can be found in the notes column of the BCDA Data Dictionary. 
        </p>
    </div>
  </div>
</div>
