<div>
  <p>CMS provides model entities – Accountable Care Organizations (ACO), Direct Contracting Entities (DCE), Kidney Contracting Entities (KCE), and Kidney Choice First (KCF) Entities – with beneficiary identifiable claims data for assigned beneficiaries and other beneficiaries who receive primary care services from a model entity.
  </p>
  <p>For adjudicated claims, BCDA serves data according to the bulk FHIR specification using three FHIR resources: ExplanationOfBenefit (EOB), Patient, and Coverage. This means that your claims data will be delivered through three FHIR resource types rather than 12 CCLF files.
  </p>
  <ul>
    <li>The <a href="https://www.hl7.org/fhir/explanationofbenefit.html" target="_blank" rel="noopener" class="in-text__link"> ExplanationOfBenefit (EOB)</a> resource type provides similar information to what is provided in CCLF files 1-7. The EOB files contain lines within an episode of care, including where and when the service was performed, the diagnosis codes, the provider who performed the service, and the cost of care.</li>
    <li>The <a href="https://www.hl7.org/fhir/patient.html" target="_blank" rel="noopener" class="in-text__link"> Patient</a> resource type provides similar information to what is provided in CCLF files 8 and 9. This is where you get your information about who your beneficiaries are, their demographic information, and updates to their patient identifiers.</li>
    <li>The <a href="https://www.hl7.org/fhir/coverage.html" target="_blank" rel="noopener" class="in-text__link"> Coverage</a> resource type provides information about beneficiaries’ insurance coverage, including information about dual coverage.</li>
  </ul>
  <p>For partially adjudicated claims two FHIR resources are available to REACH ACOs: Claim and ClaimResponse.
  </p>
  <ul>
    <li>The <a href="https://www.hl7.org/fhir/claim.html" target="_blank" rel="noopener" class="in-text__link"> Claim</a> resource type provides information about professional and institutional claims providers submit for payment, including the services that beneficiaries receive.</li>
    <li>The <a href="https://www.hl7.org/fhir/claimresponse.html" target="_blank" rel="noopener" class="in-text__link"> ClaimResponse</a> resource type provides information about a claim’s adjudication status and results process.</li>
  </ul>
  <div class="ds-c-alert ds-c-alert--hide-icon">
    <div class="ds-c-alert__body">
      <h3 class="ds-c-alert__heading">Confidentiality and Medical Data Sharing</h3>
      <p class="ds-c-alert__text">
        In accordance with applicable law, including HIPAA and the regulations in 42 CFR Part 2, a beneficiary’s substance use disorder records are confidential. For example, claims data related to alcohol and drug abuse treatment are <strong>not</strong> shared.</p>
        <p class="ds-c-alert__text">In addition, BCDA will not share <strong>any</strong> data of beneficiaries who have opted out of data sharing.</p>  

    </div>
  </div>
</div>
