<p>Now in limited launch, a new BCDA enhancement gives access to data from claims only 2-4 days after they’ve been
  submitted. These claims are partially adjudicated, meaning not fully processed or paid. Partially processed claims
  offer
  valuable patient data. Providers would otherwise be unable to view this data for up to 14 days following full
  adjudication.</p>
​
<h2>
  How to access the BCDA Partially Adjucated Enhancement
</h2>
<p>
  The enhancement is currently available to a limited set of organizations participating in the ACO REACH (Accountable
  Care Organizations Realizing Equity, Access, and Community Health) model. In the meantime, all organizations are
  encouraged to preview the data format
  in our sandbox environment.
</p>
​
<a href=/guide.html#try-the-api target="_self" class="in-text__link">Try the BCDA enhancement</a>
​
<p>
  Claims data is delivered through Claim and ClaimResponse bulk FHIR® specification resource types. The enhancement
  requires Beneficiary Claims Data API Version 2 (BCDA V2). It includes a subset of current BCDA fields.
</p>
​
<h2>
  Value to REACH ACOs and beneficiaries
</h2>
<p>
  Beneficiaries often seek care from different providers while previous claims are still in adjudication. These claims
  contain valuable clinical information. The enhancement reduces gaps in visibility to this data by as many as 12 days.
  Closing the loop on these gaps helps REACH ACOs:
</p>
<ul>
  <li>
    Receive more consistent access to data across beneficiaries’ healthcare journeys
  </li>
  <li>
    Coordinate follow up care after hospitalization
  </li>
  <li>
    View status of processing claims on a near-daily basis
  </li>
  <li>
    Track out-of-network care
  </li>
  <li>
    Plan downstream payment arrangements
  </li>
  <li>
    Track financial performance
  </li>
  <li>
    Anticipate claim rejections
  </li>
</ul>
​
<h2>Data scope and requirements</h2>
<p>
  The enhancement applies to Medicare Part A and B fee-for-service claims from the Medicare Fiscal Intermediary Shared
  System (FISS) and Multi-Carrier System (MCS). Other requirements include:
</p>
<ul>
  <li>Beneficiaries must be opted into data sharing</li>
  <li>Medicare Part D drug plans and Durable Medical Equipment (DME) claims are excluded</li>
  <li>Substance abuse codes are also excluded</li>
</ul>
<p>
  Try <a href=/guide.html#try-the-api target="_self" class="in-text__link">our sandbox environment</a> to see how the enhancement reveals untapped opportunities to provide high quality care.
</p>