<p>
  The BCDA Partially Adjudicated Claims Enhancement was designed as an expansion of the data already available to Medicare providers from BCDA. Partially adjudicated claims are claims that have entered the Medicare processing system but are not fully paid or processed by CMS. This reduces the time to access Parts A and B Fee-for-Service (FFS) claims from typically up to 14 days for adjudicated claims, to 2-4 days using partially adjudicated claims data. REACH ACOs with BCDA credentials can currently access adjudicated claims data through three (3) bulk Fast Healthcare Interoperability Resource (FHIR®) resource types: Explanation of Benefit, Patient, and Coverage. The BCDA Partially Adjudicated Enhancement exposes the following two (2) additional bulk FHIR® resource types: Claim and ClaimResponse, so that REACH ACOs with BCDA credentials can also access partially adjudicated claims data.
</p>

<h2>
  Characteristics of BCDA Partially Adjudicated Claims Data
</h2>
<ol>
  <li>
    Adds additional data to a subset of fields that exist in BCDA today. These fields have the potential to be beneficial in supporting care coordination. 
  </li>
  <li>
    Provides Fee-for-Service (FFS) claims from the Medicare Fiscal Intermediary Shared System (FISS, for institutional claims) and Medicare Multi-Carrier System (MCS, for professional claims).
  </li>
  <li>
    Excludes Part D (drug coverage) and Durable Medical Equipment (DME) claims.
  </li>
  <li>
    Filters claim data so that REACH ACOs only receive data about their aligned beneficiaries (who have not opted out of data sharing). BCDA also excludes all claims with substance abuse codes (as required by the Confidentiality of Alcohol and Drug Abuse Patient Records Regulations, 42 CFR Part 2).
  </li>
  <li>
    Must be retrieved through Beneficiary Claims Data API Version 2 (BCDA V2).
  </li>
</ol>
