<div>
  <p>In order to aid in users’ understanding of BCDA file data and structure, we provide sample Explanation of Benefit, Patient, and Coverage files for download. These files contain synthetic data, but the structure of the files is similar to the actual files you will be pulling and downloading from BCDA.</p>
  <ol>
    <li><b>Explanation of Benefit</b></li>
    <li><b>Patient</b></li>
    <li><b>Coverage</b></li>
  </ol>
  <div class="ds-u-font-size--lead">
    <b>Additional Resources</b>
	 <ol>
      <li> FHIR/HL7 </li>
      <li> Bulk FHIR specification </li>
      <li> Beneficiary FHIR Data Server (BFD)/ Blue Button API </li>
      <li> Beneficiary FHIR Data Server (BFD)/ Blue Button Implementation Guide </li>
      <li> Intro to JSON Format and http://ndjson.org/ </li>
      <li> JSON format viewer/validator (raw text/JSON format converter) </li>
      <li> Intro to valid FHIR formats </li>
 	  </ol>
  </div>
</div>