<p>In order to aid in users' understanding of BCDA file data and structure, we provide sample Explanation of Benefit, Patient, and Coverage files for download. These files contain synthetic data, but the structure of the files is similar to the actual files you will be pulling and downloading from BCDA.</p>
  <ol>
    <li><b><a href="https://bcda.cms.gov/assets/data/ExplanationOfBenefit.ndjson" target="_blank"> Explanation of Benefit</a></b></li>
    <li><b><a href="https://bcda.cms.gov/assets/data/Coverage.ndjson" target="_blank"> Patient</a></b></li>
    <li><b><a href="https://bcda.cms.gov/assets/data/Patient.ndjson" target="_blank"> Coverage</a></b></li>
  </ol>