<div>
  <p>CMS provides Accountable Care Organizations (ACOs) with beneficiary identifiable claims data for preliminarily prospectively and prospectively assigned beneficiaries and other beneficiaries who receive primary care services from an ACO. CMS reminds ACOs that there are limitations to using claims data–whether through CCLF or BCDA–to replicate or validate your ACO’s assigned beneficiaries and expenditure/utilization calculations. CMS provides ACOs with beneficiary-identifiable claims data for the purposes of:</p>
  <ul>
    <li>Redesigning care processes and coordination of care for ACOs beneficiary populations</li>
    <li>Enabling practitioners in an ACO to better coordinate and target care strategies toward individual beneficiaries</li>
    <li>Evaluating the performance of its ACO participants or its ACO providers/suppliers</li>
    <li>Conducting quality assessment and improvement activities</li>
    <li>Conducting population-based activities relating to improved health</li>
  </ul>
  <p>For the appropriate beneficiaries, the data provided to the ACO through BCDA includes claims for all services covered by Part A (Hospital Insurance) and Part B (Supplemental Medical Insurance) that were provided and processed during the prior month. Claims data also include prescriptions covered by a Part D Prescription Drug Program in which the beneficiary is enrolled. ACOs will be able to retrieve both the CCLF and BCDA claims data concurrently for the foreseeable future; we encourage our users to use both the CCLF and BCDA data sources to compare and contrast the data that is being delivered to your ACO. BCDA Engineers have designed the API to deliver the same claims data as is contained in the CCLFs.</p>
  <div class="ds-c-alert ds-c-alert--hide-icon">
    <div class="ds-c-alert__body">
      <h2 class="ds-c-alert__heading">Substance Abuse Codes Not Included</h2>
      <p class="ds-c-alert__text">
BCDA excludes all claims with substance abuse codes (as required by the Confidentiality of Alcohol and Drug Abuse Patient Records Regulations, 42 CFR Part 2).</p>
    </div>
  </div>
</div>
