<!-- Touchpoints feedback form "Was this page useful?" -->

<div class="margin-top-2 padding-top-4 border-top-2px border-base-lighter grid-row">
    <form
        class="usa-form usa-form--large margin-bottom-2 margin-top-5 margin-left-5"
        method="POST"
        id="feedback-form"
    >
        <fieldset class="border-2px border-gray-10 radius-md margin-0 padding-2">
            <label>Was this page helpful to you?</label>
            <div
                class="display-flex"
                style="gap: 4px;"
            >
                <button
                    value="1"
                    class="usa-button usa-button--outline"
                    style="margin-top: 0.5rem;"
                >
                    Yes
                    <span class="usa-sr-only">Thumbs-up</span>
                </button>
                <button
                    value="0"
                    class="usa-button usa-button--outline"
                    style="margin-top: 0.5rem;"
                >
                    No
                    <span class="usa-sr-only">Thumbs-down</span>
                </button>
            </div>
        </fieldset>
    </form>
    <div
        class="usa-alert usa-alert--success usa-alert--slim"
        id="success"
        style="display: none;"
    >
        <div class="usa-alert__body">
            <p class="usa-alert__text">Thank you. Your feedback has been received.</p>
        </div>
    </div>

    <script>

        const form = document.getElementById("feedback-form");
        const success = document.getElementById("success");

        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            const intent = event.submitter.value

            try {
                const response = await fetch("https://touchpoints.app.cloud.gov/touchpoints/b9278079/submissions.json", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "submission": {
                            "answer_01": intent,
                            "answer_02": location.pathname,
                            // "answer_03": "",
                            "referer": "",
                            "hostname": location.hostname,
                            "page": location.pathname,
                            "query_string": "",
                            "location_code": "",
                            "fba_directive": "",
                            "language": "en"
                        }
                    }),
                });
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const result = await response.json();
                console.log(result);

                form.style.display = 'none';
                success.style.display = 'block';

            } catch (error) {
                console.error(error.message);
            }


            // handle submit
        });


    </script>
</div>