<!-- Touchpoints feedback form "Was this page useful?" -->
<script
    src="https://touchpoints.app.cloud.gov/touchpoints/{{ include.id }}.js"
    async
></script>

{% comment %}
<!-- Hiding this until this issue is resolved: https://github.com/GSA/touchpoints/issues/1922  -->
{% endcomment %}
<div
    class="margin-top-2 padding-top-4 border-top-2px border-base-lighter grid-row"
    style="display: none !important;"
>
    <div
        id="touchpoints-feedback-form"
        style="max-width: none;"
        class="grid-col flex-fill"
    ></div>
</div>