<meta
  name="description"
  content="{{ include.description }}"
>

{% comment %} Google / Search Engine Tags {% endcomment %}
<meta
  itemprop="name"
  content="{{ include.title }}"
>
<meta
  itemprop="description"
  content="{{ include.description }}"
>
{%- if include.image -%}
<meta
  itemprop="image"
  content="{{ include.image }}"
>
{%- endif -%}

{% comment %} Open Graph Tags {% endcomment %}
<meta
  property="og:locale"
  content="en_US"
>
<meta
  property="og:site_name"
  content="{{ site.title }}"
>
<meta
  property="og:url"
  content="{{ include.page_url }}"
>
<meta
  property="og:type"
  content="website"
>
<meta
  property="og:title"
  content="{{ include.title }}"
>
<meta
  property="og:description"
  content="{{ include.description }}"
>
{%- if include.image -%}
<meta
  property="og:image"
  content="{{ include.image }}"
>
{%- endif -%}

{% comment %} Twitter Tags {% endcomment %}
<meta
  name="twitter:card"
  content="summary_large_image"
>
<meta
  name="twitter:title"
  content="{{ include.title }}"
>
<meta
  name="twitter:description"
  content="{{ include.description }}"
>
{%- if include.image -%}
<meta
  name="twitter:image"
  content="{{ include.image }}"
>
{%- endif -%}