@forward "uswds-theme";
@forward "uswds";
@forward "uswds-theme-custom-styles";

@media (min-width: 64em) {
  .usa-header--basic .usa-nav {
    padding: 0 0 .25rem .5rem;
  }
}

main h2,
main h3,
main h4,
main h5,
main h6 {
  scroll-margin-top: 6.25rem;
}

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 1 !important;
}

.fba-inline-container {
  margin: 0 !important;

  * {
    font-family: Open Sans,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol !important;
  }
}