*.DS_Store

### Jekyll ###
.sass-cache
.jekyll-metadata
.jekyll-cache
_site/*

### U.S. Web Design System (USWDS) ###
#
# 2K+ icons are compiled when Gulp tasks are run locally. But only required
# icons are tracked and committed. While all icons are packaged into the SVG
# sprite, icons using `img src=""` must be explicitly included.
#
# Ignore unnecessary icon directories
assets/uswds/img/favicons
assets/uswds/img/material-icons
assets/uswds/img/material-icons-deprecated
assets/uswds/img/usa-icons/*
assets/uswds/img/usa-icons-bg/*
assets/uswds/img/uswds-icons/*
#
# Track required icons:
!assets/uswds/img/usa-icons/close.svg
!assets/uswds/img/usa-icons/expand_more.svg
!assets/uswds/img/usa-icons/expand_less.svg
!assets/uswds/img/usa-icons/add.svg
!assets/uswds/img/usa-icons/check_circle.svg
!assets/uswds/img/usa-icons/error.svg
!assets/uswds/img/usa-icons/error--white.svg
!assets/uswds/img/usa-icons/info.svg
!assets/uswds/img/usa-icons/launch.svg
!assets/uswds/img/usa-icons/launch--white.svg
!assets/uswds/img/usa-icons/remove.svg
!assets/uswds/img/usa-icons/warning.svg

### Unlighthouse testing ###
.unlighthouse