---
id: build
title: Building Your Application
layout: default
---
<div class="ds-base ds-l-container">
  <div role="region" aria-label="page-title" class="ds-l-row ds-u-fill--primary-darker">
    <div class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--display ds-u-color--white">
      Building Your Application
    </div>
    <div class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--h1 ds-u-color--white">
      Using BCDA in Production
    </div>
  </div>

  <div class="ds-l-row ds-u-padding-top--2">
    <!-- Table of Contents -->
    <aside class="ds-u-margin-bottom--4 ds-u-md-margin-bottom--0 ds-l-md-col--4 ds-l-lg-col--3">
      <ul class="ds-c-vertical-nav sidenav">
        <li class="ds-c-vertical-nav__item">
          <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#bcda-user-guide">
            BCDA User Guide Documentation
          </a>
        </li>

        <li class="ds-c-vertical-nav__item">
          <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#request-metadata">
            Request Metadata
          </a>
        </li>



        <li class="ds-c-vertical-nav__item">
          <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#authorization">
            Authorization and Authentication
          </a>
          <ul class="ds-c-vertical-nav__subnav">
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#bcda-credentials">
                Obtain your BCDA Credentials
              </a>
            </li>
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#access-token">
                Obtain your Access Token
              </a>
            </li>
          </ul>
        </li>



        <li class="ds-c-vertical-nav__item">
          <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#requesting-data">
            Requesting Data
          </a>
          <ul class="ds-c-vertical-nav__subnav">

            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#requesting-all-three">
                Request all three Resource Types
              </a>
            </li>
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#cancelling-jobs">
                Cancel a job
              </a>
            </li>
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#jobs-history">
                Request jobs history
              </a>
            </li>
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#attribution-status">
                Request attribution status
              </a>
            </li>
          </ul>
        </li>




        <li class="ds-c-vertical-nav__item">
          <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#requesting-filtered-data">
            Requesting Filtered Data
          </a>
          <ul class="ds-c-vertical-nav__subnav">
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#requesting-since-with-Patient">
                Request using _since with /Patient
              </a>
            </li>
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#requesting-since-with-Group">
                Request using _since with /Group
              </a>
            </li>
          </ul>
          <ul class="ds-c-vertical-nav__subnav">
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#requesting-data-runouts">
                Request runouts data using runout with /Group
              </a>
            </li>
          </ul> 
        </li>


        <li class="ds-c-vertical-nav__item">
          <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#bulk-best-practices">
            Best Practices
          </a>
          <ul class="ds-c-vertical-nav__subnav">
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#handling-429-error">
                Handling 429 status codes
              </a>
            </li>
          </ul>
          <ul class="ds-c-vertical-nav__subnav">
            <li class="ds-c-vertical-nav__subnav">
              <a class="ds-c-vertical-nav__label ds-c-vertical-nav__label" href="#speeding-up-downloads">
                Speeding up downloads
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </aside>
    <!-- Table of Contents END -->

    <main id="main" class="ds-l-md-col--8 ds-l-lg-col--9">
      <div class="guide-content">
        <div id="bcda-user-guide">
          <h1>
            BCDA User Guide Documentation
          </h1>
          <div class="ds-u-font-size--base">
            {% include build/bcda_user_guide.html %}
          </div>
        </div>

        <div id="request-metadata">
          <h1>
            Request Metadata
          </h1>
          <div class="ds-u-font-size--base">
            {% include build/request_metadata.html %}
          </div>
        </div>
        <div id="authorization">
          <h1>
            Authorization and Authentication
          </h1>
          <div class="ds-u-font-size--base">
            {% include build/authorization.html %}
          </div>
          <div id="bcda-credentials">
            <h2>
              Obtain your BCDA Credentials
            </h2>
            <div class="ds-u-font-size--base">
              {% include build/bcda_credentials.html %}
            </div>
          </div>
          <div id="access-token">
            <h2>
              Obtain your Access Token
            </h2>
            <div class="ds-u-font-size--base">
              {% include build/access_token.html %}
            </div>
          </div>
        </div>
      </div>
      <div id="requesting-data" class="guide-content">
        <h1>
          Requesting Data
        </h1>
        <div class="ds-u-font-size--base">
          {% include build/requesting_data.html %}
        </div>
        
        <div id="requesting-all-three">
          <h2>
            Request All Three Resource Types
          </h2>
          <div class="ds-u-font-size--base">
            {% include build/requesting_data_all_three.html %}
          </div>
        
        <div id="cancelling-jobs">
          <h2>
            Cancelling a Job
          </h2>
          <div class="ds-u-font-size--base">
            {% include build/cancelling_jobs.html %}
          </div>
        </div>

        <div id="jobs-history">
          <h2>
            Request Jobs History
          </h2>
          <div class="ds-u-font-size--base">
            {% include build/jobs_history.html %}
          </div>
        </div>

        <div id="attribution-status">
          <h2>
            Request Attribution Status
          </h2>
          <div class="ds-u-font-size--base">
            {% include build/attribution_status.html %}
          </div>
        </div>
      </div>

      <div id="requesting-filtered-data" class="guide-content">
        <h1>
          Requesting Filtered Data
        </h1>
        <div class="ds-u-font-size--base ">
          {% include build/requesting_filtered_data.html %}
        </div>
        <div id="requesting-since-with-Patient">
          <h2>
            Requesting using _since with the /Patient endpoint
          </h2>
          <div class="ds-u-font-size--base">
            {% include build/requesting_filtered_data_since_Patient.html %}
          </div>
        </div>
        <div id="requesting-since-with-Group">
          <h2>
            Requesting using _since with the /Group endpoint
          </h2>
          <div class="ds-u-font-size--base">
            {% include build/requesting_filtered_data_since_Group.html %}
          </div>
        </div>
        <div id="requesting-data-runouts">
          <h2>
            Request runouts data with /Group and `runout`
          </h2>
          <div class="ds-u-font-size--base">
            {% include build/requesting_data_runouts.html %}
          </div>
        </div>        
      </div>

      <div id="bulk-best-practices" class="guide-content">
        <h1>
          Best Practices
        </h1>
        <div id="handling-429-error">
          <h2>
            Handling 429 status codes
          </h2>
          <div class="ds-u-font-size--base">
            {% include build/best_practices_429.html %}
          </div>
        </div>
        <div id="speeding-up-downloads">
          <h2>
            Speeding up downloads
          </h2>
          <div class="ds-u-font-size--base">
            {% include build/best_practices_download_speed.html %}
          </div>
        </div>
      </div>
    </main>
  </div>
</div>