---
id: data
title: Understanding the Data
layout: default
---
<div class="ds-base ds-l-container">
  <div role="region" aria-label="page-title" class="ds-l-row ds-u-fill--primary-darker">
    <div class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--display ds-u-color--white">
      Understanding the Data
    </div>
    <div class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--h1 ds-u-color--white">
      Resources for Working with BCDA Data
    </div>
  </div>
  <div class="ds-l-row ds-u-padding-top--2">
    <aside class="ds-u-margin-bottom--4 ds-u-md-margin-bottom--0 ds-l-md-col--4 ds-l-lg-col--3">
      <ul class="ds-c-vertical-nav sidenav">
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#security-and-quality"
          >
            BCDA Data and Data Quality
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a 
            class="ds-c-vertical-nav__label"
            href="#bcda-v2-data"
          >
            BCDA Version 2 (V2) Data
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#bcda-data-dictionary"
          >
            BCDA Data Dictionary
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#sample-files"
          >
            Sample BCDA Files
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#additional-resources"
          >
            Additional Resources
          </a>
        </li>
      </ul>
    </aside>

    <main id="main" class="ds-l-md-col--8 ds-l-lg-col--9">
      <div class="ds-c-alert ds-c-alert--hide-icon" id="version-2-header-alert">
        <div class="ds-c-alert__body">
          <p class="ds-c-alert__text">
            Version 2 of the Beneficiary Claims Data API (BCDA V2) is now available as of Summer 2021.
            If you are interested in learning more about how BCDA is changing in this new version of BCDA endpoints, 
            please navigate to the <a href="/data.html#bcda-v2-data" class="in-text__link"><em>BCDA Version 2 (V2) Data</em></a> section for more information.
          </p>
        </div>
      </div>
      <div id="security-and-quality">
        <h1>
          BCDA Data and Data Quality
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/data_and_data_quality.html %}
        </div>
      </div>
      <div id="bcda-v2-data">
        <h1>
          BCDA Version 2 (V2) Data
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/bcda_v2_data.html %}
        </div>
      </div>
      <div id="bcda-data-dictionary">
        <h1>
          BCDA Data Dictionary
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/data_dictionary.html %}
        </div>
      </div>
      <div id="sample-files">
        <h1>
          Sample BCDA Files
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/sample_files.html %}
        </div>
      <div id="additional-resources">
        <h1>
          Additional Resources
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/additional_resources.html %}
        </div> 
      </div>
    </main>
  </div>
</div>
