---
id: data
title: Understanding the Data
layout: default
---
<main class="ds-base ds-l-container">
  <a class="ds-c-skip-nav" href="#content">Skip to main content</a>
  <div class="ds-l-row ds-u-fill--primary-darker">
    <div class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--display ds-u-color--white">
      Understanding the Data
    </div>
    <div class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--h1 ds-u-color--white">
      Resources for Working with BCDA Data
    </div>
  </div>
  <div class="ds-l-row ds-u-padding-top--2">
    <aside class="ds-u-margin-bottom--4 ds-u-md-margin-bottom--0 ds-l-md-col--4 ds-l-lg-col--3">
      <ul class="ds-c-vertical-nav sidenav">
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#cclf-v-bcda"
          >
            CCLF v. BCDA Data
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#security-and-quality"
          >
            BCDA Data Security and Quality
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#bcda-data-dictionary"
          >
            BCDA Data Dictionary
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#sample-files"
          >
            Sample BCDA Files
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#additional-resources"
          >
            Additional Resources
          </a>
        </li>
      </ul>
    </aside>

    <article id="content" class="ds-l-md-col--8 ds-l-lg-col--9">
      <div id="cclf-v-bcda">
        <h1>
          CCLF v. BCDA Data
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/cclf_v_bcda.html %}
        </div>
      </div>
      <div id="security-and-quality">
        <h1>
          BCDA Data Security and Quality
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/security_and_quality.html %}
        </div>
      </div>
      <div id="bcda-data-dictionary">
        <h1>
          BCDA Data Dictionary
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/data_dictionary.html %}
        </div>
      </div>
      <div id="sample-files">
        <h1>
          Sample BCDA Files
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/sample_files.html %}
        </div>
      <div id="additional-resources">
        <h1>
          Additional Resources
        </h1>
        <div class="ds-u-font-size--base">
          {% include data/additional_resources.html %}
        </div> 
      </div>
    </article>
  </div>
</main>
