---
id: data
title: Understanding the Data
layout: default
---
<main id="main" class="ds-base ds-l-container">
  <div class="ds-l-row ds-u-fill--primary-darker">
    <h1 class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--display ds-u-color--white ds-u-margin--0 ds-u-font-weight--normal">
      Understanding the Data
    </h1>
    <div class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--h1 ds-u-color--white">
      Resources for Working with BCDA Data
    </div>
  </div>
  <div class="ds-l-row ds-u-padding-top--2">
    <nav class="ds-u-margin-bottom--4 ds-u-md-margin-bottom--0 ds-l-md-col--4 ds-l-lg-col--3" aria-label="secondary">
      <ul class="ds-c-vertical-nav sidenav">
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#claims-data-avail"
          >
            Claims Data Availability
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#how-to-use-bcda-data"
          >
          How to Use BCDA Data
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a 
            class="ds-c-vertical-nav__label"
            href="#bcda-v2-data"
          >
            BCDA Version 2 (V2) Data
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#bcda-data-dictionary"
          >
            BCDA Data Dictionary
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#partially-adjudicated"
          >
            BCDA Partially Adjudicated Claims
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#sample-files"
          >
            Sample BCDA Files
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#additional-resources"
          >
            Additional Resources
          </a>
        </li>
      </ul>
    </nav>

    <div class="ds-l-md-col--8 ds-l-lg-col--9">
      <div class="ds-c-alert ds-c-alert--hide-icon" id="version-2-header-alert">
        <div class="ds-c-alert__body">
          <p class="ds-c-alert__text">
            Version 2 of the Beneficiary Claims Data API (BCDA V2) is now available as of Summer 2021.
            If you are interested in learning more about how BCDA is changing in this new version of BCDA endpoints, 
            please navigate to the <a href="/data.html#bcda-v2-data" class="in-text__link"><em>BCDA Version 2 (V2) Data</em></a> section for more information.
          </p>
        </div>
      </div>
      <div id="claims-data-avail">
        <h2 class="ds-u-font-size--h1">
          Claims Data Availability
        </h2>
        <div class="ds-u-font-size--base">
          {% include data/claims_data_avail.html %}
        </div>
      </div>
      <div id="how-to-use-bcda-data">
        <h2 class="ds-u-font-size--h1">
          How to Use BCDA Data
        </h2>
        <div class="ds-u-font-size--base">
          {% include data/how_to_use_bcda_data.html %}
        </div>
      </div>
      <div id="bcda-v2-data">
        <h2 class="ds-u-font-size--h1">
          BCDA Version 2 (V2) Data
        </h2>
        <div class="ds-u-font-size--base">
          {% include data/bcda_v2_data.html %}
        </div>
      </div>
      <div id="bcda-data-dictionary">
        <h2 class="ds-u-font-size--h1">
          BCDA Data Dictionary
        </h2>
        <div class="ds-u-font-size--base">
          {% include data/data_dictionary.html %}
        </div>
      </div>
      <div id="partially-adjudicated">
        <h2 class="ds-u-font-size--h1">
          BCDA Partially Adjudicated Claims
        </h2>
        <div class="ds-u-font-size--base">
          {% include data/partially_adjudicated.html %}
        </div>
      <div id="sample-files">
        <h2 class="ds-u-font-size--h1">
          Sample BCDA Files
        </h2>
        <div class="ds-u-font-size--base">
          {% include data/sample_files.html %}
        </div>
      <div id="additional-resources">
        <h2 class="ds-u-font-size--h1">
          Additional Resources
        </h2>
        <div class="ds-u-font-size--base">
          {% include data/additional_resources.html %}
        </div> 
      </div>
    </div>
  </div>
</main>
