---
layout: base
page_title: "BCDA API"
show-side-nav: false
---

<main id="main-content">
  <div class="usa-section--dark bg-primary bg-primary-gradient">
    <div class="grid-container padding-y-8">
      <h1 class="hero-title font-body-3xl measure-1 margin-bottom-0 line-height-sans-2 text-semibold text-balance">
        Improve Care Coordination with Medicare Claims Data
      </h1>
      <p class="hero-paragraph line-height-sans-4 measure-5">
        Beneficiary Claims Data Application Programming Interface (BCDA) gives eligible model entities access to their
        attributed enrollees’ Medicare Parts A, B, and D claims data, including data from any care received outside
        their organization.
      </p>
      <div class="grid-row grid-gap margin-top-2">
        <div class="tablet:grid-col-auto margin-top-2">
          <a href="{{ '/api-documentation.html' | relative_url }}"
            class="hero-button usa-button usa-button--inverse usa-button--outline width-full">
            Get started
            {% include sprite.html icon="arrow_forward" size="3" %}
          </a>
        </div>
        <div class="tablet:grid-col-auto margin-top-2">
          <a href="https://github.com/CMSgov/bcda-app" target="_blank" rel="noopener"
            class="hero-button usa-button usa-button--inverse usa-button--outline width-full">
            Code repo
            {% include sprite.html icon="github" size="3" %}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="minw-15 padding-y-6 padding-x-3 grid-container">
    <div class="grid-row grid-gap-4 desktop:grid-gap-6 padding-y-7">
      <div class="tablet:grid-col display-flex flex-align-center tablet:flex-justify-center">
        <img class="width-auto height-full" src="{{ '/assets/img/support-home.svg' | relative_url }}"
          alt="Illustration of 3 people helping each other climb to the top of increasingly taller platforms" />
      </div>
      <div class="tablet:grid-col padding-top-4 tablet:padding-top-0 display-flex flex-align-center">
        <div>
          <h2 id="eligible-model-entities">Eligible model entities</h2>
          <p>BCDA supports organizations participating in the following
            <a href="https://www.cms.gov/priorities/innovation/about/alternative-payment-models" target="_blank"
              rel="noopener">Alternative Payment Models</a>:
          </p>
          <ul>
            <li><a href="https://www.cms.gov/medicare/payment/fee-for-service-providers/shared-savings-program-ssp-acos"
                target="_blank" rel="noopener">Medicare Shared Savings Program (SSP)</a></li>
            <li><a href="https://www.cms.gov/priorities/innovation/innovation-models/kidney-care-choices-kcc-model"
                target="_blank" rel="noopener">Kidney Care Choices (KCC) Model</a></li>
            <li><a href="https://www.cms.gov/priorities/innovation/innovation-models/aco-reach" target="_blank"
                rel="noopener">Accountable Care Organizations Realizing Equity, Access, and Community Health (ACO REACH)
                Model</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--
    -->
    <div class="padding-y-7">
      <h2>Use cases for BCDA</h2>
      <div class="usa-graphic-list__row grid-row tablet:grid-gap-6 padding-y-2">
        <div class="tablet:grid-col-6 padding-y-3 tablet:display-flex">
          <div>{% include sprite.html icon="insights" size="8" %}</div>
          <div class="tablet:margin-left-2">
            <h3 class="margin-y-1">
              Boost data insights
            </h3>
            <p>
              Leverage claims data for quantitative insights into your enrollee populations.
            </p>
          </div>
        </div>
        <div class="tablet:grid-col-6 padding-y-3 tablet:display-flex">
          <div>{% include sprite.html icon="autorenew" size="8" %}</div>
          <div class="tablet:margin-left-2">
            <h3 class="margin-y-1">
              Get claims data faster
            </h3>
            <p>
              Model entities eligible for
              <a href="{{ '/partially-adjudicated-claims-data.html' | relative_url }}">partially adjudicated claims
                data</a>
              have early access to claims as soon as 2-4 days after Medicare submission.
            </p>
          </div>
        </div>
        <div class="tablet:grid-col-6 padding-y-3 tablet:display-flex">
          <div>{% include sprite.html icon="medical_services" size="7" %}</div>
          <div class="tablet:margin-left-2">
            <h3 class="margin-y-1">Provide value-based care</h3>
            <p>
              Get a holistic overview of your enrollees' health histories for more effective and high-quality care.
            </p>
          </div>
        </div>
        <div class="tablet:grid-col-6 padding-y-3 tablet:display-flex">
          <div>{% include sprite.html icon="identification" size="7" %}</div>
          <div class="tablet:margin-left-2">
            <h3 class="margin-y-1">Receive standardized claims data</h3>
            <p>
              Get claims data that follows the
              <a href="https://hl7.org/fhir/R4/overview.html">HL7 Healthcare Interoperability Standard</a>
              required by Centers for Medicare & Medicaid Services (CMS).
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--
    -->
    <div class="grid-row grid-gap-4 desktop:grid-gap-6 padding-y-7">
      <div class="tablet:order-last tablet:grid-col display-flex flex-align-center tablet:flex-justify-center">
        <img class="width-auto height-full" style="object-fit: contain;"
          src="{{ '/assets/img/understanding-the-data.svg' | relative_url }}"
          alt="Illustration of two people collaborating using a laptop and discussing data, charts, and communication." />
      </div>
      <div class="tablet:grid-col padding-top-4 tablet:padding-top-0 display-flex flex-align-center">
        <div>
          <h2>Using the data</h2>
          <p>BCDA is an Application Programming Interface (API) that updates enrollee claims data at least once a week.
            Data is provided in NDJSON format and includes:</p>
          <ul>
            <li>Medicare enrollee identifiers</li>
            <li>diagnosis codes</li>
            <li>dates and times of service</li>
          </ul>
          <p>
            <a href="{{ '/bcda-data.html' | relative_url }}" class="usa-button usa-button--unstyled">Learn about the
              data {% include sprite.html icon="arrow_forward" %}</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="grid-row">
      <div class="bg-primary grid-col-12 desktop:grid-col-6">
        <div style="max-width: calc(75rem / 2);"
          class="desktop:margin-left-auto padding-x-3 desktop:padding-right-6 height-full padding-y-8 text-white display-flex flex-column">
          <div class="border-bottom border-white">
            <h2 class="margin-bottom-2">Featured</h2>
          </div>
          <h3 class="font-sans-lg" style="line-height: 1.4;">Get claims data sooner with partially adjudicated
            claims</h3>
          <div>
            <p class="margin-bottom-0">Through BCDA, health care organizations can access claims 2 to 4 days after
              they’re submitted instead
              of 14 or more. These “partially adjudicated” claims have valuable data but haven’t been fully
              processed and paid by Medicare systems.</p>
          </div>
          <div class="margin-top-auto">
            <div class="margin-top-5">
              <a href="{{ '/partially-adjudicated-claims-data.html' | relative_url }}"
                class="usa-button usa-button--outline usa-button--inverse">
                Learn more about partially adjudicated claims data
                {% include sprite.html icon="arrow_forward" size="3" %}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-10 grid-col-12 desktop:grid-col-6">
        <div style="max-width: calc(75rem / 2);"
          class="desktop:margin-right-auto padding-x-3 desktop:padding-left-6 height-full padding-y-8 display-flex flex-column">
          <div class="border-bottom border-black">
            <h2 class="margin-bottom-2">Announcements</h2>
          </div>
          <h3 class="font-sans-lg" style="line-height: 1.4;">What's new on AB2D.cms.gov</h3>
          <div>
            <p>We've updated our site with new content, design, and navigation. The new site makes it faster and
              easier to:</p>
            <ul>
              <li>Find documentation</li>
              <li>Access sandbox data</li>
              <li>Understand the steps for production access</li>
              <li>Learn about business use cases for AB2D data</li>
              <li>Explore Medicare Parts A and B data</li>
            </ul>
          </div>
          <div class="margin-top-auto">
            <div class="margin-top-5">
              <a href="{{ '/announcements/whats-new-on-bcda-cms-gov.html' | relative_url }}"
                class="usa-button usa-button--outline">
                View highlights
                {% include sprite.html icon="arrow_forward" size="3" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>