---
id: partial
title: BCDA Partially Adjudicated Claims
layout: default
---
<div class="ds-base ds-l-container">
  <div role="region" aria-label="page-title" class="ds-l-row ds-u-fill--primary-darker">
    <div class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--display ds-u-color--white">
      BCDA Partially Adjudicated Claims
    </div>
    <div class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--h1 ds-u-color--white">
      Get Early Access to Claims Data
    </div>
  </div>
  <div class="ds-l-row ds-u-padding-top--2">
    <aside class="ds-u-margin-bottom--4 ds-u-md-margin-bottom--0 ds-l-md-col--4 ds-l-lg-col--3">
      <ul class="ds-c-vertical-nav sidenav">
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#what-is-partial"
          >
            What is BCDA Partially Adjudicated Claims Data
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#benefits-of-bcda-partial"
          >
          Benefits of BCDA Partially Adjudicated Claims Data
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a 
            class="ds-c-vertical-nav__label"
            href="#eligibility-access"
          >
            Eligibility & Access
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#user-guide"
          >
            User Guide
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#data-dictionary"
          >
            Data Dictionary
          </a>
        </li>
        <li class="ds-c-vertical-nav__item">
          <a
            class="ds-c-vertical-nav__label"
            href="#faq"
          >
            Frequently Asked Questions (FAQs)
          </a>
        </li>
      </ul>
    </aside>

    <main id="main" class="ds-l-md-col--8 ds-l-lg-col--9">
      <div class="guide-content">
        <div id="what-is-partial">
          <h1>
            What is BCDA Partially Adjudicated Claims Data ?
          </h1>
          <div class="ds-u-font-size--base">
            {% include partial/what.html %}
          </div>
        </div>
        <div id="benefits-of-bcda-partial">
          <h1>
            Benefits of BCDA Partially Adjudicated Claims Data
          </h1>
          <div class="ds-u-font-size--base">
            {% include partial/benefits.html %}
          </div>
        </div>
        <div id="eligibility-access">
          <h1>
            Eligibility & Access
          </h1>
          <div class="ds-u-font-size--base">
            {% include partial/eligibility_access.html %}
          </div>
        </div>
        <div id="user-guide">
          <h1>
            User Guide
          </h1>
          <div class="ds-u-font-size--base">
            {% include partial/user_guide.html %}
          </div>
        </div>
        <div id="data-dictionary">
          <h1>
            Data Dictionary
          </h1>
          <div class="ds-u-font-size--base">
            {% include partial/data_dictionary.html %}
          </div>
        <div id="faq">
          <h1>
            Frequently Asked Questions (FAQs)
          </h1>
          <div class="ds-u-font-size--base">
            {% include partial/faq.html %}
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
