---
id: updates
title: Updates
layout: default
---
<div class="ds-base ds-l-container">
  <div role="region" aria-label="page-title" class="ds-l-row ds-u-fill--primary-darker">
    <h1 class="ds-l-col--12 ds-u-text-align--right ds-u-font-size--display ds-u-color--white ds-u-margin--0 ds-u-font-weight--normal">
      Updates
    </h1>
  </div>
  <div role="region" aria-label="page-intro" class="ds-l-col--12 ds-u-padding-y--2">
    <h2 class="ds-l-col--12 ds-u-text-align--left ds-u-font-size--h1 ds-u-margin--0 ds-u-font-weight--normal ">
      Keep up with the BCDA community
    </h2>
    {% include updates/intro.html %}
  </div>
  <main id="main" class="ds-u-padding-y--2">
    {% for item in site.updates reversed %}
      {{ item.content }}
    {% endfor %}
  </main>
</div>