<div
  class="
    usa-alert
    usa-alert--{{ include.variant }}
    {% if include.slim %}usa-alert--slim{% endif %}
    {% if include.icon == false %}usa-alert--no-icon{% endif %}
    {% if include.classNames %}{{ include.classNames }}{% endif %}"
  {% if include.role %}role="{{ include.role }}"{% endif %}
>
  <div class="usa-alert__body">
    {% if include.heading %}
      {{ include.heading }}
    {% endif %}
    {% if include.text %}
      <div class="usa-alert__text">
        {{ include.text }}
      </div>
    {% endif %}
  </div>
</div>
