---
---
<div class="ds-u-padding-y--2">
  <div class="ds-u-font-size--h3 ds-u-font-weight--bold">
    Google Group announcement archive 2023-2020
  </div>
  <div class="ds-u-font-size--lead ds-u-padding-y--1 ds-u-font-style--italic">
    (Click <a href="https://groups.google.com/g/bc-api?label=%F0%9F%93%A3Announcement" target="blank" class="in-text__link">here</a> to navigate to the Google Group announcement archive within the Google Group itself.)
  </div>
  <div>
    <ul>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/krLwO76ouUY" target="blank"
        class="in-text__link">Important Update Regarding Beneficiary Data: Data Reversion and Delay</a> (December 16, 2022)</li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/eR4dBa4bYtA" target="blank" class="in-text__link">
        Temporary changes in the transition from 2022 to 2023</a> (December 15, 2022)</li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/xpG7xramOc4" target="blank" class="in-text__link">
        Notice of Updates to the Data in BCDA V1 and V2</a> (November 3, 2022)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/iZ4BLIBGP8Q" target="blank" class="in-text__link">
        Notice of Updates to the Data in BCDA V2</a> (September 15, 2022)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/F6_2QJFgBqE" target="blank" class="in-text__link">
        Updated BCDA Data Dictionary</a> (June 9, 2022)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/-lH6wTqT-4g" target="blank" class="in-text__link">
        Additional Synthetic Beneficiary Data is Available!</a> (September 30, 2021)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/LXcFbQaPpow" target="blank" class="in-text__link">
        BCDA Version 2 (V2) Documentation Released!</a> (July 27, 2021)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/1fZuAGMm9-Y" target="blank" class="in-text__link">
        BCDA V2 Launch</a> (July 1, 2021)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/zK3lRf4z1vA" target="blank" class="in-text__link">
        New BCDA Data Dictionary</a> (June 1, 2021)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/KgDwFQ3k5EA" target="blank" class="in-text__link">
        Update: New Delete Feature</a> (February 26, 2021)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/VrNVsTcl-90" target="blank" class="in-text__link">
        Updated Sandbox Credentials</a> (February 16, 2021)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/vGKmpyV_WUs" target="blank" class="in-text__link">
        IMPORTANT: Carrier Number Element</a> (February 15, 2021)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/cv_-35mFdG8" target="blank" class="in-text__link">
        New Data Fields Added to BCDA payloads</a> (February 9, 2021)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/tRKbwulcrGE" target="blank" class="in-text__link">
        FHIR R4 Coming to the BCDA API</a> (November 9, 2020)
      </li>    
      <li>
        <a href="https://groups.google.com/g/bc-api/c/xBE2LFq9HnE" target="blank" class="in-text__link">
        New Feature: Faster download times using GZIP encoding</a> (October 15, 2020)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/aTMbh3WX58c" target="blank" class="in-text__link">
        BCDA Shifting to ACO-MS system for API credential management</a> (October 5, 2020)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/15d_dYVXyXQ" target="blank" class="in-text__link">
        Announcing BCDA's OpenAPI Client Code Generator!</a> (September 10, 2020)
      </li>
      <li>
        <a href="https://groups.google.com/g/bc-api/c/P_owdL2oMbA" target="blank" class="in-text__link">
        BCDA Update: `/Group` endpoint released to production</a> (August 6, 2020)
      </li>
    </ul>
  </div>
</div>
