{% assign code = include.code %}
{% assign can_copy = include.can_copy %}
{% assign nanosecond = "now" | date: "%N" %}

<div class="bg-base-lightest border-1px border-base-lighter margin-y-2 position-relative">
  <div class="grid-row">
    <div class="tablet:grid-col-fill">
      <div class="padding-left-2 padding-y-3 {% if can_copy %}padding-right-15{% else %}padding-right-2{% endif %}" tabindex="0" style="overflow-x: auto;">
        <!-- TODO: Can we pass the language var to avoid these conditionals -->
        {%- if include.language == "json" -%}
        {%- highlight json %}{{ code }}{% endhighlight -%}
        {%- elsif include.language == "html" -%}
        {%- highlight html %}{{ code }}{% endhighlight -%}
        {%- elsif include.language == "css" -%}
        {%- highlight css %}{{ code }}{% endhighlight -%}
        {%- elsif include.language == "javascript" -%}
        {%- highlight javascript %}{{ code }}{% endhighlight -%}
        {%- elsif include.language == "markdown" -%}
        {%- highlight markdown %}{{ code }}{% endhighlight -%}
        {%- elsif include.language == "shell" -%}
        {%- highlight shell %}{{ code }}{% endhighlight -%}
        {%- elsif include.language == "yaml" -%}
        {%- highlight yaml %}{{ code }}{% endhighlight -%}
        {%- else -%}
        {%- highlight plaintext %}{{ code }}{% endhighlight -%}
        {%- endif -%}
      </div>
    </div>
    {% if can_copy == true %}
    <textarea
      class="usa-sr-only"
      id="code{{ nanosecond }}"
      readonly
      aria-hidden="true"
      tabindex="-1"
    >
        {{- code | xml_escape -}}
    </textarea>
    <div class="position-absolute top-1 right-1 z-100">
      <button
        data-tealium="copy_button"
        class="usa-button usa-button--outline margin-0 bg-base-lightest hover:bg-base-lightest active:bg-base-lightest"
        id="copybutton{{ nanosecond }}"
      >Copy <span class="usa-sr-only">to clipboard</span></button>
    </div>
    {% endif %}
  </div>
</div>

{% if can_copy == true %}
<script>
  (function () {
    var copyButton = document.getElementById("copybutton{{ nanosecond }}");
    copyButton.addEventListener('click', function () {
      var copyText = document.getElementById("code{{ nanosecond }}");

      if ('clipboard' in navigator) {
        navigator.clipboard.writeText(copyText.value);
      } else {
        copyText.select();
        document.execCommand('copy');
      }
    })
  })()
</script>
{% endif %}