	<div class="ds-c-alert ds-c-alert--hide-icon">
    	<div class="ds-c-alert__body">
    	  <h3 class="ds-c-alert__heading">Some data fields have not yet been mapped from CCLFs to BCDA.</h3>
    	    <p class="ds-c-alert__text">
    	      The Beneficiary FHIR Data Server (BFD) API team is working hard to map all of the CCLF fields in the near future. The fields that have not been mapped yet are shaded in grey. Other 	fields will also not be mapped to BCDA. Additional information for unmapped fields can be found in the notes column of the BCDA Data Dictionary.</p>
    	</div>
	</div>