<div class="ds-l-container ds-u-padding--7" role="region">
  <div class="ds-l-row">
    <div class="ds-u-font-size--small ds-l-col--12 ds-l-sm-col--12 ds-l-lg-col--3 ds-u-margin-bottom--2">
      <div class="ds-u-float--left ds-u-margin-right--2">
        {% include HHS-logo.svg %}
      </div>
      <p class="ds-u-margin-top--0 ds-u-measure--wide">A federal government website managed by the Centers for Medicare
        &amp; Medicaid Services 7500 Security Boulevard, Baltimore, MD 21124</p>
    </div>
    <div class="ds-l-col--12 ds-l-sm-col--4 ds-l-lg-col--3 ds-u-margin-bottom--2">
      <h2 class="ds-h4">Beneficiary Claims Data API</h2>
      <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
        {% for item in site.global_nav %}
        {% assign pages = site.pages | where:"id",item.id %}
        {% for p in pages %}
        {% assign prefix = page.id | split: "-" %}
        <li><a href="{{ p.url }}"> {{item.title}} </a></li>
        {% endfor %}
        {% endfor %}
        <li><a target="_blank" rel="noopener" href="https://github.com/CMSgov/bcda-app">BCDA on GitHub</a></li>
        <li><a target="_blank" rel="noopener" href="https://groups.google.com/g/bc-api?pli=1">BCDA Google Group</a></li>
      </ul>
    </div>
    <div class="ds-l-col--12 ds-l-sm-col--4 ds-l-lg-col--3 ds-u-margin-bottom--2">
      <h2 class="ds-h4">CMS &amp; HHS Websites</h2>
      <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
        <li><a target="_blank" rel="noopener" href="https://www.cms.gov/">CMS.gov</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.medicare.gov/">Medicare.gov</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.medicaid.gov/">Medicaid.gov</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.healthcare.gov/">Healthcare.gov</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.hhs.gov/">HHS.gov</a></li>
        <li><a target="_blank" rel="noopener" href="https://developer.cms.gov/">Developer.cms.gov</a></li>
      </ul>
    </div>
    <div class="ds-l-col--12 ds-l-sm-col--4 ds-l-lg-col--3 ds-u-margin-bottom--2">
      <h2 class="ds-h4">Additional resources</h2>
      <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
        <li><a target="_blank" rel="noopener" href="https://design.cms.gov/">CMS Design System</a></li>
        <li><a target="_blank" rel="noopener" href="https://designsystem.digital.gov/">U.S. Web Design System</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.foia.gov/">Freedom of Information Act</a></li>
        <li><a target="_blank" rel="noopener" href="https://oig.hhs.gov/">Inspector General</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/NoFearAct.html">No
            Fear Act</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.medicare.gov/about-us/plain-writing/plain-writing.html">Plain
            Writing</a></li>
        <li><a title="Privacy settings" data-privacy-policy="modal-trigger-footer" onclick="utag.gdpr.showConsentPreferences()">Privacy Settings</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.usa.gov/">USA.gov</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/Privacy-Policy">CMS Privacy Policy</a></li>
        <li><a target="_blank" rel="noopener" href="https://www.cms.gov/vulnerability-disclosure-policy">CMS/HHS Vulnerability Disclosure Policy</a></li>
      </ul>
    </div>
  </div>
</div>