<div class=" position-sticky top-0 bg-white shadow-1 z-500">
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text">
            <a href="{{ '/' | relative_url }}" title="BCDA" data-tealium="navigation">
              <img src="{{ '/assets/img/logo-bcda.svg' | relative_url }}" alt="BCDA logo" />
            </a>
          </em>
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
          <img src="{{ '/assets/uswds/img/usa-icons/close.svg' | relative_url }}" role="img" alt="Close" />
        </button>

        <!--About dropdown-->
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item margin-top-1">
            <button
              class="usa-accordion__button usa-nav__link {% if page.permalink == '/about' %}{{ 'usa-current' }}{% endif %}"
              aria-expanded="false"
              aria-controls="basic-nav-section-one"
              ><span>About</span>
            </button>
            <ul id="basic-nav-section-one" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href="{{ '/about' | relative_url }}" data-tealium="navigation">
                  <span>About BCDA</span>
                </a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href="{{ '/use-cases' | relative_url }}" data-tealium="navigation">
                  <span>Use cases</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <!--Header nav items without subpages-->
        <ul class="usa-nav__primary usa-accordion">
          {% for item in site.data.nav-primary %}
          <li class="usa-nav__primary-item">
            <a
              href="{{ item.url | relative_url }}"
              class="usa-nav-link {% if page.permalink == item.url %}{{ 'usa-current' }}{% endif %}"
              data-tealium="navigation"
              ><span>{{ item.text }}</span>
            </a>
          </li>
          {% endfor %}
        
        <!--Get Started-->
        <section class="width-100 padding-left-1">
          <a 
            href="{{ '/api-documentation' | relative_url }}" 
            class="usa-button" 
            data-tealium="navigation"
            >Get Started
          </a>
        </section>
      </nav>
    </div>
  </header>
</div>
