<nav class="navbar" id="navbar">
  <a class="site-logo" href="/">
    <img src="{{ site.logourl | relative_url }}" alt="BCDA logo"> <span class="site-logo-text ds-u-font-size--base">Beneficiary Claims Data API</span>
  </a>

  <button id="topnav__show-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__show-button" type="button" aria-controls="topnav-wrap" aria-label="Show menu">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <use xlink:href="/assets/img/solid.svg#bars"></use>
    </svg>
  </button>
  
  <div class="topnav-wrap" id="topnav-wrap">
    <button id="topnav__close-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__close-button" type="button"
aria-controls="topnav-wrap" aria-label="Close menu">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/img/solid.svg#times"></use>
        </svg>
      </button>
    <ul class="topnav">
      {% for item in site.global_nav %}
          {% assign pages = site.pages | where:"id",item.id %}
          {% for p in pages %}
              <li class="topnav__item">
                  {% assign prefix = page.id | split: "-" %}
                  <a class="topnav__link ds-u-text-align--center ds-u-font-size--small" href="{{ p.url }}"> {{item.title}} </a>
              </li>
          {% endfor %}
      {% endfor %}
      <li class="topnav__item topnav__item--buttons ds-u-padding-right--1 ds-u-text-align--center">
        <a class="ds-c-link" href="https://groups.google.com/forum/#!forum/bc-api" target="_blank"><button class="ds-c-button ds-c-button--primary ds-u-fill--warn ds-u-color--black">Join the Google Group</button></a>
      </li>
    </ul>
  </div>
</nav>