---
layout: default-v3
---

<div class="grid-row">
  {% if page.in-page-nav == true %}
  <div class="grid-col-auto order-last margin-left-auto">
    <aside
      id="toc"
      class="usa-in-page-nav margin-top-0 overflow-y-auto padding-y-6"
      style="top: 5.75rem; height: calc(100vh - 6rem);"
      data-main-content-selector="#page-content"
      data-title-text="{{ page.in-page-nav-title }}"
      data-heading-elements="{{ page.in-page-nav-levels }}"
      data-scroll-offset="100"
      data-tealium="toc"
    ></aside>
  </div>
  {% endif %}
  <div
    id="page-content"
    class="grid-col-fill"
  >
    <div class="padding-y-6">{{ content }}</div>

    {% if page.feedback_id %}
    {% include feedback-form.html id=page.feedback_id %}
    {% endif %}
  </div>
</div>