<div>
  <p>The BCDA Partially Adjudicated Claims data provides the following two (2) new resource types under the FHIR® specification for REACH ACOs with BCDA credentials. Download the Data Dictionary for the Partially Adjudicated Claims Data <a href="#" target="_self" class="in-text__link">here</a>.
  </p>
  <ul>
    <li>
      Claim - Professional and institutional claims providers submit for payment (including the services they provide to beneficiaries) by way of the Claim resource type. Additional details are found <a href="https://www.hl7.org/fhir/claim.html" target="_blank" rel="noopener" class="in-text__link"> here</a>
    </li>
    <li>
      ClaimResponse - The ClaimResponse resource type provides information about a claim’s adjudication status and processing results. Additional details are found <a href="https://www.hl7.org/fhir/claimresource.html" target="_blank" rel="noopener" class="in-text__link"> here</a>
    </li>
  </ul>
  <p>Partially adjudicated claims are dynamic; users can view claim processing changes as near-daily updates. By comparison, adjudicated claims reflect final-action processing and updates are less common.
  </p>
</div>
