<ol>
  <li>
    Must be an ACO REACH model participant
  </li>
  <li>
    Must have valid BCDA credentials - If you do not have BCDA credentials, you can fine out how to get them <a
      href="/build.html#bcda-credentials" target="_self" class="in-text__link">here</a>.
  </li>
  <li>
    Complete the Health Insurance Portability and Accountability (HIPAA) - Covered Disclosure Request Attestation and
    Data Specification Worksheet to access the BCDA production environment. Instructions for this worksheet can be found
    <a href="https://4innovation.cms.gov/files/tipsheets/HIPAA%20covered%20disclosure%20request%20form%20TipSheet.pdf"
      target="_self" class="in-text__link">here</a>.
  </li>
  <li>
    Obtain Your Access Token by following these instructions found <a href="/build.html#access-token" target="_self"
      class="in-text__link">here</a>.
  </li>
  <li>
    Request Partially Adjudicated Claims Data via the Beneficiary Claims Data API (BCDA), found <a
      href="/build.html#requesting-data" target="_self" class="in-text__link">here</a>.
  </li>
</ol>