<div>
  <p>Currently, the BCDA Partially Adjudicated Claims Data is only available to ACO REACH model participants using BCDA with credentials for BCDA. BCDA has made available synthetic datasets for partially adjudicated claims in the BCDA sandbox, which is open to anyone. You can learn more about the sandbox access <a href="/guide.html#try-the-api" target="_self" class="in-text__link">here</a>.
  </p>
  <p>Before you can access partially adjudicated claims production data for your aligned beneficiaries, please make sure you have met the following requirements:
  </p>
  {% include partial/eligibility_requirements.html %}
</div>
