<div>
  <p>The Centers for Medicare & Medicaid Services (CMS) is pleased to announce the upcoming production release of Beneficiary Claims Data Application Programming Interface (BCDA) Partially Adjudicated Enhancement on May 16th, 2023. This initial release expands the data available to Medicare providers from BCDA. It is available to Accountable Care Organizations (ACOs) participating in the ACO Realizing Equity, Access, and Community Health (ACO REACH) Model.
  </p>
  <p>Access to partially adjudicated claims data reduces the time to access Parts A and B fee-for-service claims to 2-4 days after claim submission. It typically takes up to 14 days for adjudicated claims data. As ‘partially adjudicated’ claims, these claims have entered the Medicare processing system, but are not paid or fully processed by CMS and may be subject to changes. BCDA Partially Adjudicated Claims data can be used to increase care coordination, improve healthcare outcomes, and reduce healthcare costs for Medicare beneficiaries.
  </p>
<h2>
  Characteristics of the BCDA Partially Adjudicated Claims Data
</h2>
<ol>
  <li>
    Adds additional data to a subset of fields that exist in BCDA today. These fields have the potential to be beneficial in supporting care coordination.
  </li>
  <li>
    Provides Fee-for-Service (FFS) claims from the Medicare Fiscal Intermediary Shared System (FISS, for institutional claims) and Medicare Multi-Carrier System (MCS, for professional claims).
  </li>
  <li>
    Excludes Part D (drug coverage) and Durable Medical Equipment (DME) claims.
  </li>
  <li>
    Filters claim data so that REACH ACOs only receive data about their aligned beneficiaries (who have not opted out of data sharing). BCDA also excludes all claims with substance abuse codes (as required by the Confidentiality of Alcohol and Drug Abuse Patient Records Regulations, 42 CFR Part 2).
  </li>
  <li>
    Must be retrieved through Beneficiary Claims Data API Version 2 (BCDA V2).
  </li>
</ol>
</div>
