---
layout: base
---

<div class="grid-container padding-y-4">
  <div class="grid-row flex-align-start">
    {% if page.show-side-nav != false %}
      <div class="display-none position-sticky tablet:display-block tablet:grid-col-auto overflow-y-auto overflow-x-hidden padding-y-6" style="top: 5.75rem; height: calc(100vh - 6rem);">
        <div class="width-card-lg">
          {% include api-docs-side-nav.html %}
        </div>
      </div>
    {% endif %}
    
    <main id="main-content" class="grid-col-fill">
      {{ content }}
    </main>
  </div>
</div>