---
layout: default
---
<main id="main" class="ds-l-container ds-base">
  <div class="ds-l-row">
    <div class="ds-l-col--4 ds-u-margin-left--right ds-u-display--none ds-u-sm-display--block">
      <nav aria-label="Page" class="subnav">
        <ul class="ds-c-list ds-c-list--bare" id="mainNav">
          {% for item in page.sections %}
            <li><a href="#{{ item | slugify }}" aria-label="{{ item }} section, current page" class="ds-u-display--block {{ page.subnav-link-gradient }}" aria-label="{{ item }} section, current page">{{ item }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>


    <article class="ds-l-col--12 ds-l-sm-col--7 {{ page.badge | slugify }}">
      {{ content }}

      <div class="bcda_callout">
        <p><img src="/assets/img/google_logo.png" alt="Google Groups Logo" id="google_logo"> <strong>Have questions?</strong></p>

        <p>The BCDA Google Group is the best place to get your questions answered by the BCDA team. In this community you can sign up for feedback session opportunities, get answers to your questions, share your feedback and ideas, and get updates on the project.</p>
        <div class="button">
            <p ><a href="https://groups.google.com/forum/#!forum/bc-api" target="_blank" rel="noopener">Join the BCDA Google Group</a></p>
        </div>
      </div>
      <a href="#site-top" class="ds-c-button ds-u-margin-top--4">Back to top</a>
    </article>


  </div>
</main>
