<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Small Advanced ACO (100 synthetic beneficiaries)")'> Small Advanced Model Entity (100 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    6dc59a4c-ef93-46c0-9c00-02e500e13731
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Small Advanced ACO (100 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    317a7e3d11d617931ef9c39a2e5c34747f4349cde2b3ec7355f5b01d6c8e19aefca45483966e5f63
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Small Advanced ACO (100 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Large Advanced ACO (10,000 synthetic beneficiaries)")'> Large Advanced Model Entity (10,000 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    69b1ecae-750a-479b-9997-eb38b1197adb
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Large Advanced ACO (10,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    3611796c42ee5ee92fae59b66c50f48ab0e40f2bc331e9429d7b10413f232b0477939a9aa6148748
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Large Advanced ACO (10,000 synthetic beneficiaries)' type='Client Secret' %}
</div>
