<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Small Advanced ACO (100 synthetic beneficiaries)")'> Small Advanced Model Entity (100 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    e75679c2-1b58-4cf5-8664-d3706de8caf5
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Small Advanced ACO (100 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    5a2dff22afeb43ebfeedb1e510ac42b3891d4abef8a1ff7129a153344458b7834bef4adb6deb028a
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Small Advanced ACO (100 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Large Advanced ACO (10,000 synthetic beneficiaries)")'> Large Advanced Model Entity (10,000 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    0a0c75f0-da95-4198-9c0f-666b41e21017
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Large Advanced ACO (10,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    5cf0689d677f7f795a265b88a548add04d7ff03afaf98026ab335994d7dc38fcefe6990fb18f26bc
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Large Advanced ACO (10,000 synthetic beneficiaries)' type='Client Secret' %}
</div>
