<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Small Advanced ACO (100 synthetic beneficiaries)")'> Small Advanced Model Entity (100 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    {{site.data.credentials.adv.small.client_id}}
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Small Advanced ACO (100 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    {{site.data.credentials.adv.small.client_secret}}
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Small Advanced ACO (100 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Large Advanced ACO (10,000 synthetic beneficiaries)")'> Large Advanced Model Entity (10,000 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    {{site.data.credentials.adv.large.client_id}}
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Large Advanced ACO (10,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    {{site.data.credentials.adv.large.client_secret}}
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Large Advanced ACO (10,000 synthetic beneficiaries)' type='Client Secret' %}
</div>
