<p>
	The /Attribution_Status endpoint allows you to find the last time that BCDA has ingested an attribution file for your organization. The endpoint will return a timestamp of the date and time that the last attribution file update occurred. This includes updates from runout files.
</p>
<p>
	The endpoint can help your organization reduce redundant bulk data requests by allowing you to check if there is new data in BCDA without making redundant calls. If we have not ingested a new attribution file since your last update, you may want to hold off on requesting new data. If the timestamp indicates that a new attribution file is available, you may want to start a new data request to retrieve the data.
</p>
