<p>
	The /Attribution_Status endpoint will return a datetime timestamp representing the last time that BCDA updated the beneficiary list of your organization, which includes updates from runout files. Since attribution is updated monthly, it can be beneficial to know exactly when your organization's attributions were last updated. Depending on your use case, you may want to run a query excluding the _since parameter after organization's attributions have been updated so that you can establish a historic record of your newly attributed beneficiaries.
</p>
