<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Small REACH ACO (110 synthetic beneficiaries)")'> Small REACH ACO (110 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    {{site.data.credentials.enhancement.small.client_id}}
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Small REACH ACO (110 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    {{site.data.credentials.enhancement.small.client_secret}}
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Small REACH ACO (110 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Large REACH ACO (11,000 synthetic beneficiaries)")'> Large REACH ACO (11,000 Synthetic Beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    {{site.data.credentials.enhancement.large.client_id}}
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Large DCE (11,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    {{site.data.credentials.enhancement.large.client_secret}}
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Large DCE (11,000 synthetic beneficiaries)' type='Client Secret' %}
</div>
