<p><button class="accordion" type="button" aria-expanded="false"
    onclick='metricTagging("BCDA", "Try the API: Accordion", "Small REACH ACO (100 synthetic beneficiaries)")'> Small
    DCE (100 synthetic beneficiaries) </button></p>
<div class="acc_content">
  Client ID:
  {%- capture client_id -%}
  d6975f99-d83e-4eee-9a54-c057be12d1ff
  {%- endcapture -%}
  ​
  {% include copy_snippet.md code=client_id aco='Small REACH ACO (100 synthetic beneficiaries)' type='Client ID' %}
  ​
  Client Secret:
  {%- capture client_secret -%}
  06e34af5ff68b4d03d5b8167444b044219805ad6bc6525fe221be5aa3a890ff432d74480463d391e
  {%- endcapture -%}
  ​
  {% include copy_snippet.md code=client_secret aco='Small REACH ACO (100 synthetic beneficiaries)' type='Client Secret'
  %}
</div>
​
<p><button class="accordion" type="button" aria-expanded="false"
    onclick='metricTagging("BCDA", "Try the API: Accordion", "Large REACH ACO (10,000 synthetic beneficiaries)")'> Large
    DCE (10,000 Synthetic Beneficiaries) </button></p>
<div class="acc_content">
  Client ID:
  {%- capture client_id -%}
  1f4575c9-80ea-425c-9d3e-c2b79e9159da
  {%- endcapture -%}
  ​
  {% include copy_snippet.md code=client_id aco='Large REACH ACO (10,000 synthetic beneficiaries)' type='Client ID' %}
  ​
  Client Secret:
  {%- capture client_secret -%}
  e5d8a82f7e9e3b1d1a6aff39333b7d64a03c0aed76fa75b406bd0c52b9fdbe69ee2cea511275a498
  {%- endcapture -%}
  ​
  {% include copy_snippet.md code=client_secret aco='Large REACH ACO (10,000 synthetic beneficiaries)' type='Client
  Secret' %}
</div>