<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Small REACH ACO (100 synthetic beneficiaries)")'> Small REACH ACO (100 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    d6975f99-d83e-4eee-9a54-c057be12d1ff
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Small REACH ACO (100 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    56b4057a56d0c83657757e97aef63f4f163d64caad2950cd324ed346dbeffa1ed02a6a3d4d92b116
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Small REACH ACO (100 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Large REACH ACO (10,000 synthetic beneficiaries)")'> Large REACH ACO (10,000 Synthetic Beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    1f4575c9-80ea-425c-9d3e-c2b79e9159da
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Large DCE (10,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    10d824c77f7f00aad9c8cab420244f1008ec08d68eb194818c01e504586db84c6184ea89079cdeef
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Large DCE (10,000 synthetic beneficiaries)' type='Client Secret' %}
</div>
