<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Extra-Small ACO (50 synthetic beneficiaries)")'> Extra-Small Model Entity (50 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    3841c594-a8c0-41e5-98cc-38bb45360d3c
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Extra-Small ACO (50 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    efef20edc106b7b355ff09754d5b19014f42820996629a469aa3d4ce1063cbd098b08ccba3bbdcbf
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Extra-Small ACO (50 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Small ACO (2,500 synthetic beneficiaries)")'> Small Model Entity (2,500 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    d5f83f74-6c55-4f1e-9d16-0022688171ba
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Small ACO (2,500 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    e7a56d9e54dadaae1c0effde59ae1c804088cb4287f7f9fd5de6de0e3399923a59b5ad37a38dab7a
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Small ACO (2,500 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Medium ACO (7,500 synthetic beneficiaries)")'> Medium Model Entity (7,500 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    8c75a6f6-02b9-4a47-96c1-0bd6efd4b5e3
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Medium ACO (7,500 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    283e10b42cfb7de88bdf7ebd5d4f178ba6af19b6eadfbc36675754a1576c899435bb098dd97aa8b0
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Medium ACO (7,500 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Large ACO (20,000 synthetic beneficiaries)")'> Large Model Entity (20,000 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    f268a8c6-8a29-4d2b-8b92-263dc775750d
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Large ACO (20,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    1087acf26be69e26d4ab5f8078d63cb737f3dd9aeedb928c463dd72d7b111191de16b484428d8d8f
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Large ACO (20,000 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Extra-Large ACO (30,000 synthetic beneficiaries)")'> Extra-Large Model Entity (30,000 synthetic beneficiaries)</button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    6152afb4-c555-46e4-93de-fa16a441d643
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Extra-Large ACO (30,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    7c312fbe1fafaf4fab3e4a71c20bb79106a083a24784ef83dc56a2b1f891a9f52b181a20eec698a0
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Extra-Large ACO (30,000 synthetic beneficiaries)' type='Client Secret' %}
</div>
