<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Extra-Small ACO (50 synthetic beneficiaries)")'> Extra-Small ACO (50 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    3841c594-a8c0-41e5-98cc-38bb45360d3c
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Extra-Small ACO (50 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    d89810016460e6924a1c62583e5f51d1cbf911366c6bc6f040ff9f620a944efbf2b7264afe071609
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Extra-Small ACO (50 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Small ACO (2,500 synthetic beneficiaries)")'> Small ACO (2,500 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    d5f83f74-6c55-4f1e-9d16-0022688171ba
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Small ACO (2,500 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    acc164b34eb88dd51dc2050ab1b9d7fc7b8781d21998201543ec288a2a85d9e6fbce64b11becb548
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Small ACO (2,500 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Medium ACO (7,500 synthetic beneficiaries)")'> Medium ACO (7,500 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    8c75a6f6-02b9-4a47-96c1-0bd6efd4b5e3
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Medium ACO (7,500 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    1f6a1cd9da34c0d0fe781d3e0d6b78c3ff9957f4796659ef2a1895a9f1f2d0cc01ee333db820aad4
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Medium ACO (7,500 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Large ACO (20,000 synthetic beneficiaries)")'> Large ACO (20,000 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    f268a8c6-8a29-4d2b-8b92-263dc775750d
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Large ACO (20,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    c8dc2fefa1f5eb3817df9ec8aaf6ec56f5a84f0eb085cc3fa2f495b7a2cdad77d31718a2c1ea8fce
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Large ACO (20,000 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Extra-Large ACO (30,000 synthetic beneficiaries)")'> Extra-Large ACO (30,000 synthetic beneficiaries)</button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    6152afb4-c555-46e4-93de-fa16a441d643
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Extra-Large ACO (30,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    9505e36662f6b59310360bc216d0b467c8f6f29c19dc8b40d91671ed4db7abb0fa2828c1524a595e
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Extra-Large ACO (30,000 synthetic beneficiaries)' type='Client Secret' %}
</div>
