<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Extra-Small ACO (50 synthetic beneficiaries)")'> Extra-Small ACO (50 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    2462c96b-6427-4efb-aed7-118e20c2e997
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Extra-Small ACO (50 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    8e87f0ebc50d10f1bc9734329a9900179b84ccd39e4d0920b905cc359cf6e94a6e760bbe3a0890c7
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Extra-Small ACO (50 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Small ACO (2,500 synthetic beneficiaries)")'> Small ACO (2,500 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    f0d89614-efb9-49fa-bb38-996811f235a1
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Small ACO (2,500 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    ae53cd2e08ef779eb7e24d8f7538f3737edd8657cbd6ff0033a4fb6c3b03bf76e20280c264911fa4
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Small ACO (2,500 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Medium ACO (7,500 synthetic beneficiaries)")'> Medium ACO (7,500 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    635003cf-e337-4f91-be51-73b50e27ae9a
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Medium ACO (7,500 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    9f58c1d48019847698f143d3d1e250065697f20d89217ec47993c8d029d708377ba9ce3873809b44
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Medium ACO (7,500 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Large ACO (20,000 synthetic beneficiaries)")'> Large ACO (20,000 synthetic beneficiaries) </button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    8e85dd71-9206-44bb-a07e-638b29b316c1
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Large ACO (20,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    876312032dc90849289b26c9b45f00d2db8fb728d2f219bb78b499d55fa1483fe4f68170974590e2
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Large ACO (20,000 synthetic beneficiaries)' type='Client Secret' %}
</div>

<p><button class="accordion" type="button" aria-expanded="false" onclick='metricTagging("BCDA", "Try the API: Accordion", "Extra-Large ACO (30,000 synthetic beneficiaries)")'> Extra-Large ACO (30,000 synthetic beneficiaries)</button></p>
<div class="acc_content">
    Client ID:
    {%- capture client_id -%}
    aa2d6b93-bbe7-4d1b-8cc5-9a5172fae3a6
    {%- endcapture -%}

    {% include copy_snippet.md code=client_id aco='Extra-Large ACO (30,000 synthetic beneficiaries)' type='Client ID' %}

    Client Secret:
    {%- capture client_secret -%}
    35bace11786b7a4c0e76b254317b9ee623f5ded3bd38bcdce88e2ffa3d5ebf703b892bd056004066
    {%- endcapture -%}

    {% include copy_snippet.md code=client_secret aco='Extra-Large ACO (30,000 synthetic beneficiaries)' type='Client Secret' %}
</div>
