<p>
	Using the _since parameter with the /Patient endpoint will return claims last updated after the date provided. This includes claims for existing and newly attributed enrollees, those who have been assigned to your model entity since your last attribution date.
</p>
<p>
	Using _since with the /Group endpoint will return claims last updated after the date provided for existing enrollees only. For newly attributed enrollees, this parameter will return all historic claims for the /Group endpoint, regardless of when it was last updated. This is so you can retrieve all of your organization's new claims data with a single request.
	
</p>
<p>
	<a href="https://bcda.cms.gov/build.html#requesting-filtered-data" target="_blank" rel="noopener" class="in-text__link">Learn more about the differences and how to make these requests. </a> 
</p>

