<p>
	The /jobs endpoint allows you to request information about requests your model entity has previously made to the API. This data includes the Job ID, creation time, completion time, and the original request of the job.
</p>
<p>
	If you cannot remember a Job ID after starting a job, you can use this endpoint to retrieve the ID, rather than restarting a new job. The data returned will be in the <a href="https://www.hl7.org/fhir/task.html" target="_blank" rel="noopener" class="in-text__link">FHIR Task</a> format.
</p>
