<p>
	In order to obtain your organization’s claims data in the production environment, you must have obtained API credentials from either the ACO-MS system (for Shared Savings Program ACOs) or directly from the BCDA team (for non-SSP ACOs. Every request demands a bearer token which can only be obtained with active BCDA credentials.
</p>
<p>
	Representatives of SSP ACOs are now able to generate BCDA credentials in their ACO-MS portal accounts. To view instructions on how to generate API credentials, log into your ACO-MS account and navigate to the ACO-MS Knowledge Library. Before you generate BCDA credentials, please try out the BCDA Sandbox experience.
</p>
