<p>
	In order to obtain your organization's claims data in the production environment, you must have obtained BCDA credentials from either the ACO Management System or the 4i portal. Every request demands a bearer token which can only be obtained with active BCDA credentials.
</p>
<p>
	<p><u>ACOs in the Medicare Shared Savings Program:</u> Create and manage your organization's BCDA credentials from the <a href="https://acoms.cms.gov/" rel="noopener">ACO Management System</a>.</p> 
   <p><u>REACH ACOs and KCEs or KCFs in the Kidney Care Choices Model:</u> Create and manage your organization's BCDA credentials from the <a href="https://4innovation.cms.gov/landing" rel="noopener">4i portal</a>.</p>
   <p>When creating new credentials, be prepared to provide the IP address(es) for each system that will make requests to BCDA. It may take up to an hour for the allow list to be updated after the IP address(es) are added.</p>
</p>
<p>
	Reminder: Before you generate BCDA credentials, please <a href="#try-the-api" class="in-text__link">try out the BCDA Sandbox experience</a>.
</p>
