<p>
	In order to obtain your organization’s claims data in the production environment, you must have obtained API credentials from either the ACO-MS system for Shared Savings Program ACOs or from 4i for REACH ACOs, and DCEs, KCEs, and KCF Entities. Every request demands a bearer token which can only be obtained with active BCDA credentials.
</p>
<p>
	Representatives of Shared Savings Program (SSP) ACOs can generate BCDA credentials by logging into their <a style= "color:rgb(0,51,102)"; href="https://acoms.cms.gov" target="_blank" rel="noopener" class="in-text__link">ACO-MS portal</a> accounts and navigating to the ACO-MS Knowledge Library. Representatives of REACH ACOs and DCEs, KCEs, and KCF Entities can do the same by logging into their 4i account and navigate to the 4i Knowledge Library.
</p>
<p>
	Reminder: Before you generate BCDA credentials, please <a href="#try-the-api" class="in-text__link">try out the BCDA Sandbox experience</a>.
</p>