<p>
	In the sandbox environment, we provide generic credentials for you to use. We have provided five sets of synthetic credentials for use in the sandbox, corresponding to various amounts of synthetic beneficiaries. These will <strong>not</strong> work in the production environment. We suggest testing with the credentials that most closely align with the size of your  model entity, so that you can experiment working with a similar amount of synthetic data to that which you’ll receive in production.
</p>

<p>
	The sandbox environment contains all of the same endpoints, resource types, and parameters as production. You may complete all of the same operations as in production. However, sandbox data is not currently updated as frequently as your real data, and will not necessarily be as comprehensive or complete as real production data.
</p>

<p>
	Try out the <a href="https://bcda.cms.gov/guide.html#try-the-api" target="_blank" rel="noopener" class="in-text__link">BCDA Sandbox</a>!
</p>
