<p>
	The _since parameter allows you to apply a date parameter to your bulk data requests. Instead of receiving the full record of historical data every time you request data from an endpoint, you will be able to use _since to submit a date. The API will then produce claims data from the bulk data endpoints that have been loaded since the entered date.
</p>

<p>
	To learn more about the differences using _since between the /Patient and /Group endpoints see the <a href="/guide.html#fhir-endpoints" class="in-text__link">FHIR endpoints</a> section above.
</p>
