<p>
	The _type parameter allows you to request different Resource Types from the API. Instead of receiving data from all three Resource Types when no _type parameter is specified, you will be able to use the _type parameter to submit one or more Resource Types. The API will then produce data from the specified Resource Types.
</p>

<p>
	To learn more about the Resource Types see the <a href="https://bcda.cms.gov/guide.html#fhir-types" target="_blank" rel="noopener" class="in-text__link">FHIR Resource Types</a> section above.
</p>
