<p>
	The Beneficiary Claims Data API (BCDA) is an Application Programming Interface (API) that enables model entities – Accountable Care Organizations (ACO), Direct Contracting Entities (DCE), Kidney Care Entities (KCE), and Kidney Care First (KCF) Entities – to retrieve Medicare claims data for their beneficiaries. BCDA serves as a direct pipeline from CMS to model entity systems to provide claims data on a more timely cadence. This includes Medicare claims data for instances in which beneficiaries receive care outside of the model entities, allowing a full picture of patient care.
</p>

<p>
 	This API follows the workflow outlined by the <a style= color:rgb(0,51,102); href="https://hl7.org/fhir/uv/bulkdata/export/index.html" target="_blank" rel="noopener" class="in-text__link">FHIR Bulk Data Export Proposal</a> using the HL7 FHIR Standard. Claims data is provided as FHIR resources in <a style= color:rgb(0,51,102); href="http://https://github.com/ndjson/ndjson-spec/" target="_blank" rel="noopener" class="in-text__link">NDJSON</a> format.
</p>

<p>
	Our documentation is written so that everyone – regardless of technical exposure – can access beneficiary data.
</p>
