<p>
	<a href="https://www.hl7.org/fhir/" target="_blank" rel="noopener" class="in-text__link">FHIR (Fast Healthcare Interoperability Resources)</a> is a specification for exchanging healthcare data electronically. BCDA sends data acquired through the Beneficiary FHIR Data Server (BFD) API structured using the FHIR standard, making it more available, discoverable, and understandable. The FHIR standard is developed by HL7, a group dedicated to creating standardized ways of sharing and structuring health care data.
</p>

<p>
	In FHIR, standardized data is structured using a basic building block called a “Resource.” All “exchangeable” data is defined as a resource. Resources are structured containers of data that systems and computers can easily understand. BCDA is one of CMS’ first APIs to use the bulk FHIR specification. The Bulk FHIR specification allows BCDA to send back records on all of an ACO’s assigned or assignable beneficiaries, rather than on a patient-by-patient basis.
</p>
