<p>
	The Beneficiary Claims Data API (BCDA) is an Application Programming Interface (API) that enables Accountable Care Organizations (ACOs) to retrieve Medicare claims data for their beneficiaries. BCDA serves as direct pipeline from CMS to ACO systems to provide claims data on at a more timely cadence. This includes Medicare claims data for instances in which beneficiaries receive care outside of the ACO, allowing a full picture of patient care.
</p>

<p>
 	This API follows the workflow outlined by the <a href="https://github.com/HL7/bulk-data/blob/master/spec/export/index.md" target="_blank" class="in-text__link">FHIR Bulk Data Export Proposal</a> using the HL7 FHIR Standard. Claims data is provided as FHIR resources in <a href="http://ndjson.org/" target="_blank" class="in-text__link">NDJSON</a> format.
</p>

<p>
	Our documentation is written so that everyone – regardless of technical exposure – can access beneficiary data.
</p>
